<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/loading.css">
    <link rel="stylesheet" href="../../styles/menu.css">
    <link rel="stylesheet" href="../../styles/fll.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/introHeaderPage.css">
    <link rel="icon" href="../../images/icon-site-paratech.png">
    <title>Paratech League</title>
</head>
<body onload="loading(), showMenu()">
    
  <section>
    <header class="head">
      <div class="divH closeH">
        <div class="divTitle closeT">
          <h1 class="title">Paratech</h1>
          <h2 class="subtitle">A New Legacy</h2>
          <div class="load-box">
            <div class="ball b1"></div>
            <div class="ball b2"></div>
            <div class="ball b3"></div>
          </div>
        </div>
      </div>
    </header>
    
    <section class="inter none-class">
      <header id="info-header">
        <div>
        <p>&twoheadleftarrow;</p>
        </div>
      </header>
    
      <header class="bg-box">
        <div class="burguer-box burguer-open">
            <div class="bar b1"></div>
            <div class="bar b2"></div>
            <div class="bar b3"></div>
        </div>
            
        <ul class="none-class close-nav">
          <li class="home-item"><a href="../index.html">HOME</a></li>
          <li class="projc-item"><a href="projects.html">PROJECTS</a></li>
          <li class="docmts-item"><a href="documents.html">DOCUMENTATION</a></li>
        </ul>
      </header>

      <footer class="foot">
        <div id="link-tree"> <a href="https://instagram.com/paratech_fll"><div id="icon"></div></a><a href="https://instagram.com/paratech_fll">Instagram</a></div>
        <main>SESI Indústria Saudável - Avenida João Paulo II - Belém - PA, 66095-750</main>
      </footer>
    </section>
    <script src="../../scripts/script.js"></script>
    <script src="../../scripts/introPictures.js"></script>
</body>
</html>