@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.none-class{
    display: none;
}

.bg-box{
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
}

.burguer-box{
    display: none;
    opacity: 0;
    flex-direction: column;
    gap: 4px;
    margin: 10px;
    align-self: start;
    transition: all .5s;
    
    &:hover{
        cursor: pointer;
    }

    & .b1{
        transition: all .6s;
    }

    & .b2{
        transition: all .6s;
    }

    & .b3{
        transition: all .6s;
    }
}

.burguer-close{
    & .bar{
        background: rgba(255, 255, 255, 0.9);
        width: 30px;
        height: 8px;
        border-radius: 15px;
    }

    & .b1{
        transform: translate(4px, 10px) rotate(45deg);
    }

    & .b2{
        transform: translateX(20px);
        opacity: 0;
    }

    & .b3{
        transform: translate(5px, -14px) rotate(-45deg);
    }
}
.burguer-open{
    & .bar{
        background: rgba(255, 255, 255, 0.9);
        width: 30px;
        height: 8px;
        border-radius: 15px;
    }

    & .b1{
        opacity: 1;
    }

    & .b2{
        opacity: 1;
    }

    & .b3{
        opacity: 1;
    }
}

.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    & li{
        transition: all .5s;
        padding: 10px;
        &:hover{
            scale: 1.2;
        }

        &:hover a{
            scale: 1.2;
            background: linear-gradient(to right, yellow, orange, yellow);
            background-clip: text;
            color: transparent;
        }
    }

    & a{
        color: white;
        text-decoration: none;
        transition: all .5s;
        font-family: "Montserrat";
    }
}

@media (max-width: 500px){
    .nav-menu{
        flex-direction: column;
    }
    .bg-box{
        justify-content: center;
    }
    .burguer-box{
        position: absolute;
        left: 0;
        top: 0;
    }
}